<ng-container>
    <div>
        <nav *ngIf="!selected">
            <!-- <app-login></app-login> -->
            <a routerLink="/login" (click)="onChangeFlag()">Login</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
<!-- <div>
    <button>Back</button>
    <button>Forward</button>    
</div> -->

</ng-container>
