<ng-container>
  <div *ngIf="hiddeLogin && !takeTheFlag">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <label>PrimaryEmail : <input type="email" formControlName="email"></label>
      <label>Password : <input type="password" formControlName="password"></label>
      <button type="submit">
        Login
      </button>
    </form>
  </div>
  <div *ngIf="isNewUser && !hiddeLogin">
    <app-create-user ></app-create-user>
  </div>
</ng-container>
<!-- <app-bottom (next)="takeTheNextFlag($event)"></app-bottom> -->